<%-include('../user/layout/user-header-layout.ejs')-%>

<%-include('../user/layout/nav.ejs')-%>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="img/icons/delivery.png" alt="">
                        <p>Free shipping on orders over $30 in USA</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="img/icons/voucher.png" alt="">
                        <p>20% Diwaali sale</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                        <img src="img/icons/sales.png" alt="">
                        <p>30% off on Oppo phones. Use code: SAVE20 OFF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Page Add Section Begin -->
        <section class="page-add cart-page-add"> <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb"></div>
                </div>

            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Cart Page Section Begin -->
    <div class="cart-btn">
        <div class="container">
            <div class="cart-table">

                <% if (count==0) { %>
                    <div class="col-12 text-center">
                        <img src="https://ibellstore.com/images/no-item-found-here.png" alt="no order" style="width: 600px; height:400px ;">
                    </div>
                <% } else { %>
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align: center; margin-right: 5px;">Product</th>
                                <th>Price</th>
                                <th tyle="text-align: center;">Quantity</th>
                                <th style="text-align: center;">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% cartProducts.forEach((data) => { %>

                                    <td class="product-col">
                                        <img src="/images/product_img/<%= data.productId?.image[0] %>" alt="">
                                        <div class="p-title">
                                            <h5><%= data.productId?.model  %>
                                            </h5>
                                        </div>
                                    </td>
                                    <td class="price-col">₹<%= data.productId?.price %></td>
                                    <td>
                                        <div class="qty-label">
                                            <div class="input-number">
                                                Qty:
                                                <a class="qty-up" href="user/button-increment/<%=data.productId?._id %>" onclick="addToCart('<%=data.productId?.id%>','<%=data.productId?.model%>','<%=data.productId?.price %>',1)">+</a>
                                                <input id="itemQty-<%= data.productId?.id %>" type="text" value="<%= data.quantity %>" style="height: 40px; width: 30px;border: none;color: crimson; text-align: center;">
                                                <a class="qty-down" href="user/button-decrement/<%= data.productId?._id %>" onclick="addToCart('<%=data.productId?.id%>','<%=data.productId?.model%>','<%=data.productId?.price %>',-1)">-</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="total">₹<%= data.total %></div>
                                    </td>
                                    <td>
                                        <div class="product-btns">
                                            <% if(user){ %>
                                                <% let flag=false; if(wishList?.products){%>
                                                    <%for(let pro of wishList.products){%>
                                                        <% if(pro.toString()==data.productId?._id.toString()){
                                                flag=true;%><%}}%>
                                                        <%if(flag==true){%>
                                                            <button class="btn btn-light" type="">
                                                                <a href="/add-to-wishlist/<%= data.productId?._id %>">
                                                                    <i class="fa-solid fa-heart" style="color: red;"></i>
                                                                    <span class="tooltipp">add to wishlist</span>
                                                               </a>
                                                            </button>
                                                        <%}else{%>
                                                            <button class="btn btn-light" type="">
                                                                <a href="/add-to-wishlist/<%= data.productId?._id %>">
                                                                    <i class="fa fa-heart-o"></i>
                                                                    <span class="tooltipp">add to wishlist</span>
                                                                 </a>
                                                            </button>
                                                        <%}%>
                                                    <%}}else{%>
                                                        <button class="btn btn-light" type="">
                                                            <a href="/login">
                                                                <i class="fa fa-heart-o"></i>
                                                                <span class="tooltipp">move to wishlist</span>
                                                                </a>
                                                               
                                                                                                                                                   
                                                        </button>
                                                    <%}%>
                                                </td>
                                                <td class="text-center align-middle px-0">
                                                    <form action="user/deleteCart/<%= data.productId?._id %>">
                                                        <button type="submit" class="btn btn-danger" style="
                                                        width: 100px;" onclick="return confirm ('Are you sure want to delete ?')">
                                                        Remove
                                                        </button>
                                                        </form>
                                                        </td>
                                            </tr>
                                        <% }) %>
                                    </td>
                                </tbody>
                            </tr>
                        </tbody>
                    </table>
                <% } %>
            </div>

        </div>
    </div>
    <div class="shopping-method">
        <div class="col-md-6l">
            <div class="row">
                <div class="col-lg-12 text-lg-right">
                    <div class="total-info">
                        <div class="row">
                            <div class="col-lg-12  d-flex justify-content-end align-items-end">
                                <div class="col-lg-4">
                                    <div class="col-lg-12 ">
                                        <div class=" d-flex justify-content-between" style="font-size: 16;">
                                            <h5 class="text-left">Price Details</h5>
                                        </div>
                                        <br>
                                        <td>
                                            <div class=" d-flex justify-content-between">
                                                <h5 class="text-left" style="color:red;">Subtotal
                                                </h5>
                                                <h5 class="text-right">₹
                                                    <%= cartTotal %></h5>
                                            </div>
                                            <div class=" d-flex justify-content-between">
                                                <h6 class="text-left" style="color:green;">Discount
                                                    <h5 class="text-success"></h6>
                                                </div>
                                                <hr>
                                                <div class=" d-flex justify-content-between">
                                                    <h6 class="text-left" style="color: rgb(19, 19, 115);">Total
                                                    </h5>
                                                    <h5 class="text-right">₹
                                                        <%= cartTotal %></h6>
                                                </div>

                                                <hr>
                                            </td>

                                            <a href="/checkout" class="btn btn-secondary btn-rounded " style="border-radius: 20px;">Proceed to checkout</a>
                                        </td>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <%-include('../user/layout/user-footer-layout.ejs') -%>
