<%-include('../user/layout/user-header-layout.ejs') -%>
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="iPro"/>
        <meta name="keywords" content="phone, unica, creative, html"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>iPro</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet"/>

        <link rel="stylesheet" href="/Stylesheets/user/cssM/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/Stylesheets/user/cssM/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/Stylesheets/user/cssM/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/Stylesheets/user/cssM/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/Stylesheets/user/cssM/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/Stylesheets/user/cssM/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/Stylesheets/user/cssM/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/Stylesheets/user/cssM/style.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <link href="/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="/cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    </head>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div
                    class="logo"><!-- <a href="./index.html"><img src="/images/user/img/logo.png" alt=""></a> -->
                </div>
                <div class="header-right">
                    <img src="/images/user/img/icons/search.png" alt="" class="search-trigger">
                    <a href="/user/profile"><img src="/images/user/img/icons/man.png" alt="">
                    </a>

                    <a href="/wishList">
                        <img src="/images/user/img/icons/heart.png" style="height:18px;" alt="">
                        <a href="/cart">
                            <img src="/images/user/img/icons/bag.png" alt="">

                        </a>
                    </div>


                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li>
                                <a class="active" href="/homepage">Home</a>
                            </li>
                            <li>
                                <a href="/products">Shop</a>
                                <ul class="sub-menu">

                                    <li>
                                        <a href="/cart">Shopping Card</a>
                                    </li>
                                    <li>
                                        <a href="/checkout">Check out</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="./product-page.html">About</a>
                            </li>
                            <li>
                                <a href="./check-out.html">Blog</a>
                            </li>
                            <li>
                                <a href="./contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <section class="h-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-10 col-xl-10">
                        <div class="card" style="border-radius: 10px;">
                            <div class="card-header px-4 py-5">
                                <h5 class="text-muted mb-0">
                                    <span style="color: #a8729a;">Thanks for your Order,
                                    </span>!</h5>
                            </div>
                            <br>
                            <div class="row p-6">
                                <div class="col border-1 ps-0 pt-0 text-sm text-center">
                                    <strong class="text-dark">Product</strong>
                                </div>
                                <div class="col border-0 ps-0 pt-0 text-sm text-center">
                                    <strong class="text-dark">Details</strong>
                                </div>
                                <div class="col border-0 ps-0 pt-0 text-sm text-center">
                                    <strong class="text-dark">Quantity</strong>
                                </div>
                                <div class="col border-0 ps-0 pt-0 text-sm text-center">
                                    <strong class="text-dark">Address</strong>
                                </div>
                                <div class="col border-0 ps-0 pt-0 text-sm text-center">
                                    <strong class="text-dark">Delivery Date</strong>
                                </div>
                              
                                <div class="col  border-0 ps-0 pt-0 text-sm text-center">
                                    <strong class="text-dark">Amount</strong>
                                </div>
                                <div class="col  border-0 ps-0 pt-0 text-sm text-center">
                                    <strong class="text-dark">Payment Method</strong>
                                </div>
                               
                                
                            </div>   
                            <br>  
                                   


                            <% order.forEach(function(orders) { %>

                                <% orders.products.forEach(function(product){  %>
                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                       
                                        
                                                <div class="col">
                                                    <img src="/images/product_img/<%= product.productId.image[0] %>" alt="" class="w-80 border-radius-lg shadow-sm">
                                                </div>
                                                <div class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0">
                                                        <%= product.productId.model %></p>
                                                </div>
                                                <div class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">
                                                        <span>Qty:
                                                        </span>
                                                        <%= product.quantity %></p>
                                                </div>
                                                <div class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">
                                                        <%= product.total %></p>
                                                </div>
                                                <div class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">
                                                        <%= orders.address.fullName %>
                                                        <%= orders.address.city %>,
                                                        <%=orders.address.state %>,
                                                        <%= orders.address.country %>,
                                                        <%= orders.address.pincode %>
                                                    </p>
                                                </div>
                                                <div class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">
                                                        <%= moment(orders.deliveryDate).format('MMMM D') %></p>
                                                </div>
                                                <div class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small"> <%= orders.paymentMethod %>
                                                    </p>
                                                </div>
                                               
                                            </div>
                                            <hr class="mb-5" style="background-color: #e0e0e0; opacity: 1;">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-md-2">

                                                    <p class="text-muted mb-0 small">Track Order</p>

                                                </div>

                                                <div class="col-md-10">
                                                    <div class="progress" style="height: 6px; border-radius: 16px;">
                                                        <div class="progress-bar" role="progressbar" style="width: 65%; border-radius: 16px; background-color: #7299a8;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="mb-1">

                                                        <p class="text-dark">
                                                            <%= product.orderStatus %>
                                                            <div class="text-end ">


                                                                <% if(product.orderStatus != 'Cancelled'){ %>
                                                                    <form action="/cancelOrder/<%= product._id %>/<%= orders._id %>" method="post">
                                                                        <button type="submit" value="Cancelled" name="orderStatus" class="btn btn-outline-dark">Cancel</button>
                                                                    </form>
                                                                <% } %>

                                                            </div>
                                                        </p>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                <% }) %>


                        </div>
                    </div>
                </div>
            </div>
        </section>
