<%-include('../user/layout/user-header-layout.ejs') -%>
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="iPro"/>
        <meta name="keywords" content="phone, unica, creative, html"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>iPro</title>

        <!-- Google Font -->
        <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet"/>

        <!-- Css Styles -->
        <link rel="stylesheet" href="../stylesheets/user/cssM/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../stylesheets/user/cssM/font-awesome.min.css" type="text/css"/>
        <link rel="stylesheet" href="../stylesheets/user/cssM/elegant-icons.css" type="text/css"/>
        <link rel="stylesheet" href="../stylesheets/user/cssM/magnific-popup.css" type="text/css"/>
        <link rel="stylesheet" href="../stylesheets/user/cssM/nice-select.css" type="text/css"/>
        <link rel="stylesheet" href="../stylesheets/user/cssM/owl.carousel.min.css" type="text/css"/>
        <link rel="stylesheet" href="../stylesheets/user/cssM/slicknav.min.css" type="text/css"/>
        <link rel="stylesheet" href="../stylesheets/user/cssM/style.css" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="/user/js/sweatAlert.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


        <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>

        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link
        href="../stylesheets/user/cssL/nucleo-svg.css" rel="stylesheet"/>
        <!-- CSS Files -->
        <link id="pagestyle" href="../stylesheets/user/cssL/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet"/>

    </head>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div
                    class="logo"><!-- <a href="./index.html"><img src="/images/user/img/logo.png" alt=""></a> -->
                </div>
                <div class="header-right">
                    <img src="/images/user/img/icons/search.png" alt="" class="search-trigger">
                    <a href="/user/profile"><img src="/images/user/img/icons/man.png" alt="">
                    </a>

                    <a href="/wishList">
                        <img src="/images/user/img/icons/heart.png" style="height:18px;" alt="">
                        <a href="/cart">
                            <img src="/images/user/img/icons/bag.png" alt="">

                        </a>
                    </div>


                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li>
                                <a class="active" href="/homepage">Home</a>
                            </li>
                            <li>
                                <a href="/products">Shop</a>
                                <ul class="sub-menu">

                                    <li>
                                        <a href="/cart">Shopping Card</a>
                                    </li>
                                    <li>
                                        <a href="/checkout">Check out</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="./product-page.html">About</a>
                            </li>
                            <li>
                                <a href="./check-out.html">Blog</a>
                            </li>
                            <li>
                                <a href="./contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <div class="header-info">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="header-item">
                            <img src="img/icons/delivery.png" alt="">
                            <p>Free shipping on orders over $30 in USA</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-left text-lg-center">
                        <div class="header-item">
                            <img src="img/icons/voucher.png" alt="">
                            <p>20% Student Discount</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-left text-xl-right">
                        <div class="header-item">
                            <img src="img/icons/sales.png" alt="">
                            <p>30% off on dresses. Use code: 30OFF</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-md-8 d-flex align-items-center">
                                    <h5 class="mb-0">My Orders</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="col-md-1  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Product</strong>
                            </div>
                            <div class="col-md-2  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Details</strong>
                            </div>
                            <div class="col-md-2  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Address</strong>
                            </div>
                            <div class="col-md-1  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Delivery Date</strong>
                            </div>
                            <div class="col-md-2  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Phone Number</strong>
                            </div>
                            <div class="col-md-1  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Amount</strong>
                            </div>
                            <div class="col-md-1  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Payment</strong>
                            </div>
                            <div class="col-md-1  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Status</strong>
                            </div>
                            <div class="col-md-1  border-0 ps-0 pt-0 text-sm text-center">
                                <strong class="text-dark">Action</strong>
                            </div>
                        </div>

                        <hr class="mt-10">
                        <div class="row p-4">
                            <% order.forEach(function(orders) { %>
                         
                                <% orders.products.forEach(function(product){  %>
                                    <div class="col-md-1  border-0 ps-0 pt-4 text-sm text-center">
                                        <img src="/images/product_img/<%= product.productId.image[0] %>" alt="" class="w-80 border-radius-lg shadow-sm">
                                    </div>
                                    <div class="col-md-2  border-0 ps-0 pt-4 text-sm text-center">
                                        <p class="text-dark font-weight-bold">
                                            <%= product.productId.model %>
                                        </p>
                                        <p class="text-dark">Quantity:
                                            <%= product.quantity %>
                                        </p>
                                    </div>

                                    <div class="col-md-2  border-0 ps-0 pt-4 text-sm text-center">
                                        <p class="text-dark">
                                            <%= orders.address.fullName %>
                                        </p>
                                        <p class="text-dark">
                                            <%= orders.address.currentAddress %>,
                                            <%= orders.address.city %>,
                                            <%=orders.address.state %>,
                                            <%= orders.address.country %>,
                                            <%=
                                                    orders.address.pincode %>
                                        </p>
                                    </div>
                                    <div class="col-md-1  border-0 ps-0 pt-4 text-sm text-center">
                                        <p class="text-dark">
                                            <%= moment(orders.deliveryDate).format('MMMM D') %>
                                        </p>
                                    </div>

                                    <div class="col-md-2  border-0 ps-0 pt-4 text-sm text-center">
                                        <p class="text-dark">
                                            <%= phone %>
                                        </p>
                                    </div>
                                    <div class="col-md-1  border-0 ps-0 pt-4 text-sm text-center">
                                        <p class="text-dark">
                                            <%= product.total %>
                                        </p>
                                    </div>
                                    <div class="col-md-1  border-0 ps-0 pt-4 text-sm text-center">
                                        <p class="text-dark">
                                            <%= orders.paymentMethod %>
                                        </p>
                                    </div>
                                    <div class="col-md-1  border-0 ps-0 pt-4 text-sm text-center">
                                        <p class="text-dark">
                                            <%= product.orderStatus %>
                                        </p>
                                    </div>
                                    <div class="col-md-1  border-0 ps-0 pt-4 text-sm text-center">
                                        <%if(product.orderStatus != 'Canceled'){%>
                                            <form action="/cancelOrder/<%= product._id %>" method="post">
                                                <button type="submit" value="Cancelled" name="orderStatus" class="btn btn-outline-dark">Cancel</button>
                                            </form>
                                            <%}%>
                                    </div>
                                <% }) %>
                            <% }) %>
                        </div>
