<%-include('../user/layout/user-header-layout.ejs') -%>

<%-include('../user/layout/nav.ejs')-%>


<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol
                        class="breadcrumb mb-0">
                        <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                <li class="breadcrumb-item"><a href="#">User</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <% if(user.gender == "female") { %>
                            <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/11_avatar-512.png" alt="Admin" class="rounded-circle" width="150">
                        <% } else { %>
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <% } %>

                        <h5 class="my-3"><%= user.name %></h5>
                        <p class="text-muted mb-1"><%= user.email %></p>
                       
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <i class="fa-solid fa-cart-circle-check"></i>
                            <a href="/orderPage">
                                <h6 class="mb-0">Orders</h6>
                            </a>
                            <span class="text-secondary">@iPro</span>
                        </li>
                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <i class="bi bi-folder-plus"></i>
                            <button onclick="allAddress()">
                                <h6 class="mb-0">Saved address</h6>
                            </button>
                            <span class="text-secondary">iPro</span>
                        </li> -->
                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <i class="bi bi-person-video3"></i>
                            <h6 class="mb-0">User data</h6>
                            <span class="text-secondary">@iPro</span>
                        </li> -->
                    </ul>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card card-body" style="background-color:rgb(220, 217, 217) ;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= user.FullName %>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%=user.Email %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= user.Phone %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <% if (address ) { %>
                                <div class="col-sm-9 text-secondary">
                                    Address added
                                </div>
                            <% }  else { %>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.address %>
                                </div>
                            <% } %>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank" href="/editUser">Edit</a>
                                <% if (address ) { %>
                                    <a class="btn btn-success " target="__blank" href="/address">Add new address</a>
                                <% }  else { %>
                                    <a class="btn btn-success " target="__blank" href="/address">Add address</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <% address?.address?.forEach(function (x) { %>


                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4">
                                        <span class="text-primary font-italic me-1">Address</span>
                                        <%= index++ %>
                                    </p>
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush rounded-3">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <h6 class="mb-0"><%= x.fullName %></h6>
                                                <span class="text-secondary">Fulll Name</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <h6 class="mb-0"><%= x.houseName %></h6>
                                                <span class="text-secondary">House/Office</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <h6 class="mb-0"><%= x.city %></h6>
                                                <span class="text-secondary">City</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <h6 class="mb-0"><%= x.state %></h6>
                                                <span class="text-secondary">State</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <h6 class="mb-0"><%= x.pincode %></h6>
                                                <span class="text-secondary">Pincode</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <h6 class="mb-0"><%= x.phone %></h6>
                                                <span class="text-secondary">Phone</span>
                                            </li>
                                        </ul>

                                        <a href="/deleteAddress/<%= x._id %>">
                                            <button type="button" onclick="removeAddress('<%= x._id %>')" class="btn btn-danger">
                                                Remove</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</section>


<%-include('../user/layout/user-footer-layout.ejs') -%>
