<%-include('/Users/jesilfawaz/Desktop/Uprise-E-Commerce Project/views/user/layout/user-header-layout.ejs') -%>


<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Search model -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here....."></form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div
                    class="logo"><!-- <a href="./index.html"><img src="img/logo.png" alt=""></a> -->
                </div>

                <div class="header-right">
                    <img src="/images/user/img/icons/search.png" alt="" class="search-trigger">
                        <a href="/user/profile">
                            <img src="/images/user/img/icons/man.png" alt=""></a>
                            <a href="/wishList">
                                <img src="/images/user/img/icons/heart.png" style="height:18px;margin-left: 25px;" alt="">
                                    <a href="/cart">
                                        <img class="ms-3" src="/images/user/img/icons/bag.png" alt="" style="margin-left: 25px;"></a>
                                    </div>

                                    <div class="user-access">
                                        <a href="#">Register</a>
                                        <a href="#" class="in">Sign in</a>
                                    </div>
                                    <nav class="main-menu mobile-menu">

                                        <ul>
                                            <li>
                                                <a href="/products" style="color: #3850a7;">iPro</a>
                                                <li>
                                                    <a class="active" href="./index.html">Home</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Shop</a>
                                                    <ul class="sub-menu">

                                                        <li>
                                                            <a href="/cart">Shopping Card</a>
                                                        </li>
                                                        <li>
                                                            <a href="/checkout">Check out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="./product-page.html">About</a>
                                                </li>
                                                <li>
                                                    <a href="./check-out.html">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="./contact.html">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </header>
                            <!-- Header Info Begin -->
                            <div class="header-info">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="header-item">
                                                <img src="img/icons/delivery.png" alt="">
                                                    <p>Free shipping on orders over $30 in USA</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-left text-lg-center">
                                                <div class="header-item">
                                                    <img src="img/icons/voucher.png" alt="">
                                                        <p>20% Student Discount</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-left text-xl-right">
                                                    <div class="header-item">
                                                        <img src="img/icons/sales.png" alt="">
                                                            <p>30% off on dresses. Use code: 30OFF</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Header Info End -->
                                        <!-- Header End -->

                                        <!-- Page Add Section Begin -->
                                            <section class="page-add cart-page-add"> <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <img src="/public/images/product_img/" alt=""></div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- Page Add Section End -->

                                            <!-- Cart Page Section Begin -->
                                            <div class="cart-page">
                                                <div class="container">
                                                    <div class="card">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-h">Product</th>
                                                                    <th>Price</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>


                                                                <%for (let wishList of data.products){%>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="media">
                                                                                <div class="flex">
                                                                                    <img src="/images/product_img/<%= wishList.image[0] %>" style="height: 80px;" alt=""></div>
                                                                                    <!-- <div class="media-body"> -->
                                                                                    <div class="product__cart__item__text mt-3">
                                                                                        <a href="/single/<%= wishList._id %>">
                                                                                            <h6>
                                                                                                <%= wishList.brand.brand %>
                                                                                                <%= wishList.model %>
                                                                                            </h6>
                                                                                        </div>

                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <h6>
                                                                                        <%= wishList?.price %>
                                                                                    </h6>
                                                                                </td>

                                                                                <td class="text-center align-middle px-0">
                                                                                    <form action="/cart/<%= wishList._id %>"  method="get">
                                                                                       <button type="submit" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Add to cart</button>                                            
                                                                                    </form>
                                                                                </td>
                                                                                <td class="text-center align-middle px-0">
                                                                                    <form action="/deleteWishlist/<%= wishList._id%>" method="post">
                                                                                        <button type="submit" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Remove</button>
                                                                                    </form>
                                                                                </td>

                                                                            </tr>
                                                                        <% } %>
                                                                    </tbody>

                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 text-right">
                                                    <a href="#" class="primary-btn chechout-btn">Proceed to checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cart Page Section End -->
                    <%-include('/Users/jesilfawaz/Desktop/Uprise-E-Commerce Project/views/user/layout/user-footer-layout.ejs') -%>
